

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* Hero section design */
.hero{
    background:rgba(0, 0, 0, 0.3) url('images/Banner\ Image.png');
    height: 618px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-blend-mode: darken;
    min-height: 100vh;
}

p{
    font-size: 32px;
    font-weight: 400px;
    color: white;
    /* display: flex; */
    padding: 16px 186px;
}
h1{
    font-size: 72px;
    font-weight: 400px;
    color: white;
    padding: 0px 70px;
    text-align: center;
}
.hero-div{
    height: 253px;
    width: 632px;
    padding: 182px 344px;
}
