

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* Hero section design */
.hero{
    background:rgba(0, 0, 0, 0.3) url('images/Banner\ Image.png');
    height: 618px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-blend-mode: darken;
    min-height: 100vh;
}

.p{
    font-size: 32px;
    font-weight: 400px;
    color: white;
    text-align: center;
    padding-bottom: 16px;
}
h1{
    font-size: 72px;
    font-weight: 400px;
    color: white;
    padding: 0px 70px;
    text-align: center;
}
.hero-div{
    height: 253px;
    width: 632px;
    padding: 182px 344px;
}

/* new year offer section */
h2{
    color: red;
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    font-family: inter;
    margin-top: 120px;
    padding-bottom: 48px;
}
p{
    color: red;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: inter;
    padding-bottom: 16px;

}
h3{
    color: black;
    font-family: inter;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 48px;
}

.new-year-img{
   height: 450px;
   width: 700px;
   margin-left: 25%;

}